
.contenedorExtencion {

    position: relative;
    width:  100%;
    min-height: 700px;

}

.bannerExtencion {
    position:  relative;
    width:  100%;
    height: 466px;
    background: #6ce4e4a3;
}


.contenedorInterno {
    position:  relative;
    width: 100%;
    margin:  0 auto;
    padding:  20px;
}

.bannerInformacionLeft {
    position:  relative;
    display:  block;
    float:  left;
    width:  30%;
    height: 100%;
    border:  1px solid;
}

.informacionRight {
    position:  relative;
    float:  left;
    width: 70%;
    padding: 0px 0 17px 17px;
    height: 100%;
    text-align:  justify;
}

.informacionLeft {
    position:  relative;
    float:  left;
    width: 70%;
    text-align:  justify;
    height: 100%;
    padding: 0 17px 17px 0;
}

.contenedorInformacion {
    margin: 28px auto;
    width: 100%;
    height: 289px;
    overflow:  hidden;
    position:  relative;
}

.bannerInformacionRigth {
    position: relative;
    display: block;
    float: right;
    width: 30%;
    height: 100%;
    border: 1px solid;
}