@media(min-width: 1700px) {


    .contenedorExtencion {

        position: relative;
        width: 100%;
        min-height: 700px;
    }

    .bannerExtencion {
        position: relative;
        width: 100%;
        height: 466px;
        background: #6ce4e4a3;
    }


    .contenedorInterno {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .bannerInformacionLeft {
        position: relative;
        display: block;
        float: left;
        width: 30%;
        height: 339px;
        border: 1px solid;
    }

    .informacionRight {
        position: relative;
        float: left;
        width: 67%;
        padding: 0px 17px 17px 17px;
        height: 340px;
        text-align: justify;
    }

    .informacionLeft {
        position: relative;
        float: left;
        width: 66%;
        text-align: justify;
        height: 339px;
        padding: 0 17px 17px 0;
    }

    .contenedorInformacion {
        margin: 28px 0;
        height: 383px !important;
    }

    .bannerInformacionRigth {
        position: relative;
        display: block;
        float: left;
        width: 30%;
        height: 339px;
        border: 1px solid;
    }
}


@media screen and (max-width: 1350px) {


    .bannerInformacionLeft {
        width: 30% !important;
    }

    .bannerInformacionRight {
        width: 403px !important;
    }

    .informacionRight {
        width: 70% !important;
        padding-right: 0 !important;
    }
}


@media(max-width: 1170px) {}


@media(max-width: 940px) {

    .contenedorInformacion {
        height: 207px !important;
    }

    .bannerInformacionRigth {
        height: 173px !important;
    }

    .bannerInformacionLeft {
        height: 173px !important;
    }
}


@media(max-width: 720px) {


    .contenedorInformacion {
        height: auto !important;
    }

    .bannerInformacionLeft {
        float: none;
        width: 100% !important;
        height: 258px !important;
    }

    .informacionRight {
        position: relative;
        width: 100% !important;
        float: none;
        padding: 17px 0 0 0 !important;
    }



    .informacionLeft {
        float: none !important;
        width: 100% !important;
        position: relative;
        margin: 0 auto;
        padding: 22px 0 0 0 !important;
    }

    .bannerInformacionRigth {
        float: none !important;
        width: 100% !important;
        height: 258px !important;
    }
}


@media(max-width: 480px) {



}



@media(max-width: 320px) {



}