@media(min-width: 1700px) {

    .owl-prev {
        top: 65px!important;
    }

    .owl-next {
        top: 65px !important;
    }

    .promos {
        height: 517px;
    }

    div#imgPromo1 {
        height: 378px;
        background: url(../img/home/promo1.png)top center no-repeat;
        background-size: cover;
    }

    div#imgPromo2 {
        height: 378px;
        background: url(../img/home/promo2.png)top center no-repeat;
        background-size: cover;
    }

    div#imgPromo3 {
        height: 378px;
        background: url(../img/home/promo3.png)top center no-repeat;
        background-size: cover;
    }

    div#nombrePromo1 {
        background: url(../img/home/vandine.png) 38px center no-repeat;
    }

    div#nombrePromo2 {
        background: url(../img/home/kelme.png) 38px center no-repeat;
    }

    div#nombrePromo3 {
        background: url(../img/home/mangacorta.png) 38px center no-repeat;
    }


    div#promo {
        height: auto;
        padding: 15px 15px 74px 15px;
        background: gray;
        background: url(../img/home/fondoPromociones.png), #f9f9f9;
    }

    .carousel-wrapper.ng-scope {
        height: 254px;
        width: 100%;
        background: beige;
    }


    .header {

        position: relative;

        margin: 0 auto;

        height: 65px;

        width: 100%;

        border: 1px solid;
    }

    .header .logoHeader {

        position: relative;

        float: left;

        width: 238px;

        height: 100%;

        border: 1px solid;
    }

    .menuHeader {

        position: relative;

        float: right;

        width: 1192px;

        border: 1px solid;

        height: 100%;

        padding: 19px 0 0 0;
    }

    .menuHeader ul {

        display: block;

        width: 91%;

        position: relative;

        height: 40px;

        padding: 0;

        margin: 0 auto;
    }

    .menuHeader ul li {
        list-style: none;
        display: block;
        margin: 0 10px;
        font-size: 14px;
        float: left;
        text-align: center;
    }

    .bannerPuntos {

        position: relative !important;

        width: 100% !important;

        height: 762px !important;

        background: url(../img/home/banner_home.jpg) no-repeat !important;

        background-size: cover !important;
    }

    .enunciadoPuntos {

        position: relative;

        width: 103px;

        margin: 0 auto;

        top: 168px;
    }

    .promocion {

        position: relative;

        margin: 20px auto 0;

        width: 100%;

        height: auto;
    }

    .enunciadoPromociones {

        width: 100%;

        position: relative;

        height: 54px;

        border-radius: 26px;

        padding: 9px;

        margin: 0 auto;
    }

    .enunciadoPromociones h1 {

        text-align: center;

        display: block;

        font-size: 26px;
    }


    .promociones {

        position: relative !important;

        width: 100% !important;
        /* border: 1px solid; */
        height: 315px;

        padding: 24px 27px;

        margin-top: 10px;

        margin: 0 auto;
    }

    .promociones .promocionDestacada {
        display: block !important;
        position: relative !important;
        float: left !important;
        border: 1px solid !important;
        width: 32% !important;
        margin: 0 10px !important;
        height: 346px !important;
    }


    h1.enunciadoDestacada {

        font-size: 28px;

        position: relative;

        margin: 0 auto;

        text-align: center;

        top: 93px;

        font-size: 24px;
    }


    h1.enunciadoDestacada {

        font-size: 28px;

        position: relative;

        margin: 0 auto;

        text-align: center;

        top: 93px;

        font-size: 24px;
    }

    .footer {
        width: 100%;
        height: 142px;
        border: 1px solid;
    }


    .multi {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 7px;
    }

    .btnCanjear {
        position: relative;
        width: 269px;
        margin: 14px auto 0;
    }

    .btnCanjear button {
        width: 100%;
        border: none;
        padding: 22px;
        border-radius: 41px;
        margin: 66px 0;
        background: #0fcaf5;
        color: #fff;
        height: 79px;
        font-weight: 600;
    }


    .contenedorPasos {

        position: relative !important;

        width: 100% !important;

        margin: 0 auto !important;

        margin-top: 54px !important;
    }

    .paso {
        position: relative !important;
        margin: 0 0 !important;
        width: 360px !important;
        float: left !important;
    }

    .textoPaso {
        text-align: justify;
        padding: 0 15px;
    }


    .imgPaso {
        width: 100%;
        position: relative;
        background: blue;
        height: 220px;
        margin-bottom: 3px;
    }

    .numeroPaso {
        width: 100%;
        height: 51px;
        border: 1px solid;
    }

    .enunciadoPasos h1 {
        text-align: center;
        display: block;
        font-size: 26px;
    }

    .enunciadoPasos {
        width: 100%;
        position: relative;
        height: 54px;
        /* background: #64c5fd59; */
        border-radius: 26px;
        padding: 9px;
        margin: 0 auto 34px;
    }

    .contImg {
        padding: 0 7px;
    }

    .contPasos {
        position: relative !important;
        width: 1440px !important;
        margin: 0 auto !important;
    }

    .contenidoPag {
        width: 100%;
        height: auto;
        min-height: 700px;
    }
}


@media(max-width: 1370px) {

    .bannerPuntos {

        height: 547px !important;
    }

    .multi2 {
        width: 1139px !important;
    }

    .promos {
        position: relative;
        float: left;
        width: 32% !important;
        height: 457px;
        /* border: 1px solid; */
        margin: 0 7px !important;
    }

    .promocionDestacada {
        /* width: 329px !important; */
    }

    .ofertaDestacada {
        width: 328px !important;
    }

    .contPasos {
        width: 1100px !important;
    }

    .paso {
        width: 274px !important;
    }

    .bannerPuntos {

        position: relative;

        width: 100%;

        height: 528px;

        background: url(../img/home/banner_home.jpg) top center no-repeat;

        background-size: cover;
    }
}




@media(max-width: 1170px) {

    .owl-prev {
        top: 0px!important;
    }

    .owl-next {
        top: 0 !important;
    }

    .bannerPuntos {

        height: 404px !important;
    }

    div#nombrePromo2 {
        width: 120px;
    }

    div#nombrePromo3 {
        width: 111px;
    }

    .nombrePromo2 h1 {
        font-size: 16px !important;
        width: 112px !important;
        text-align: center !important;
    }


    div#nombrePromo1 {
        width: 40%;
    }

    div#nombrePromo1 {
        background: url(../img/home/vandine.png) 0px center no-repeat !important;
        background-size: 100% !important;
    }

    div#nombrePromo2 {
        background-size: 100% !important;
        background: url(../img/home/kelme.png) -26px center no-repeat !important;
    }

    div#nombrePromo3 {
        background: url(../img/home/mangacorta.png) 0px center no-repeat !important;
        background-size: 100% !important;
    }

    .promos {
        height: 446px !important;
        width: 31% !important;
    }

    .nombrePromo2 h1 {
        font-size: 15px !important;
        height: auto;
        top: 18px !important;

        Â´ pos: ;
        position: absolute !important;
    }



    .multi2 {
        width: 887px !important;
    }

    .contPasos {
        width: 556px !important;
    }

    .paso {
        width: 274px !important;
        margin-bottom: 33px !important;
    }



    .promociones .promocionDestacada {
        display: block;
        position: relative;
        float: left;
        border: 1px solid;
        width: 31% !important;
        margin: 0 10px;
    }

    .promocion {
        width: 679px;
    }


    .promociones {
        width: 888px;
    }

    .promocionDestacada {
        width: 253px !important;
    }
}

@media(max-width: 940px) {

    div#nombrePromo2 {
        background: url(../img/home/kelme.png) center no-repeat !important;
        background-size: 100% !important;
    }

    .nombrePromo2 {
        padding: 0 !important;
    }

    .tituloPromo {
        width: 100% !important;
    }


    .nombrePromo2 {

        width: 99px !important;
        padding: 0;
    }

    div#nombrePromo1 {
        width: 72px !important;
    }

    .nombrePromo2 h1 {
        font-size: 11px !important;
    }

    div#nombrePromo2 {
        width: 75px !important;
    }

    div#nombrePromo3 {
        width: 64px !important;
    }

    .bannerPuntos {
        height: 287px !important;
    }

    .promos {
        height: 286px !important;
        padding-right: 0 !important;
    }


    div#imgPromo1 {
        height: 159px !important;
    }

    div#imgPromo2 {
        height: 159px !important;
    }

    div#imgPromo3 {
        height: 159px !important;
    }

    .multi2 {
        width: 637px !important;
    }

    .promociones .promocionDestacada {
        display: block;
        position: relative;
        float: left;
        border: 1px solid;
        width: 29% !important;
        margin: 0 10px;
        height: 172px !important;
    }

    .promocion {
        width: 679px;
    }

    .promociones {
        height: auto !important;
    }
}

@media(max-width: 720px) {

    div#nombrePromo1 {
        width: 140px !important;
    }

    .nombrePromo2 h1 {
        font-size: 14px !important;
        display: block !important;
        margin: 0 auto !important;
        position: relative !important;
        width: 141px !important;
    }

    div#nombrePromo2 {
        width: 142px !important;
    }

    div#nombrePromo3 {
        width: 140px !important;
    }

    .multi2 {
        width: 406px !important;
    }

    .promos {
        width: 300px !important;
        float: none !important;
        margin: 0 auto !important;
        position: relative !important;
        height: 384px !important;
    }

    div#imgPromo1 {
        height: 260px !important;
        width: 300px !important;
    }


    div#imgPromo2 {
        height: 260px !important;
        width: 300px !important;
    }

    div#imgPromo3 {
        height: 260px !important;
        width: 300px !important;
    }


    .promociones .promocionDestacada {
        display: block;
        position: relative;
        float: left;
        border: 1px solid;
        width: 251px !important;
        float: none !important;
        margin: 0 23px;
        height: 232px !important;
        margin: 0 auto 10px !important;
    }

    .promocion {
        width: 679px;
    }

    .promociones {
        height: auto !important;
        width: 326px !important;
    }

           .owl-prev {
        top: -20px!important;
    }

    .owl-next {
        top: -20px !important;
    }
}

@media(max-width: 565px) {

    .bannerPuntos {
        height: 217px !important;
    }

    .enunciadoPasos {
        width: 90% !important;
    }


    .contPasos {
        width: 277px !important;
    }

    .promociones .promocionDestacada {
        display: block;
        position: relative;
        float: left;
        border: 1px solid;
        width: 239px !important;
        float: none !important;
        margin: 0 23px;
        height: 232px !important;
        margin: 0 auto 10px !important;
    }

    .promocion {
        width: 679px;
    }

    .promociones {
        height: auto !important;
        width: 292px !important;
    }

        .owl-prev {
        top: 63px!important;
    }

    .owl-next {
        top: 63px !important;
    }

}


@media(max-width: 480px) {



        .owl-prev {
        top: -11px!important;
        left: -33px !important;
    }

    .owl-next {
        top: -13px !important;
        right: -33px !important;
    }


    .bannerPuntos {
        height: 173px !important;
    }

    div#imgPromo1 {
        height: 260px !important;
        width: 222px !important;
    }


    div#imgPromo2 {
        height: 260px !important;
        width: 222px !important;
    }

    div#imgPromo3 {
        height: 260px !important;
        width: 222px !important;
    }

    div#nombrePromo1 {
        width: 83px !important;
    }

    .nombrePromo2 h1 {
        font-size: 14px !important;
        display: block !important;
        margin: 0 auto !important;
        position: relative !important;
        width: 125px !important;
    }

    div#nombrePromo2 {
        width: 89px !important;
    }

    div#nombrePromo3 {
        width: 92px !important;
    }

    .multi2 {
        width: 241px !important;
        padding: 0 !important;
    }

    .promos {
        width: 222px !important;
        float: none !important;
        margin: 0 auto 24px !important;
        position: relative !important;
        height: 370px !important;
        padding: 0 !important;
    }

    div#imgPromo1 {
        height: 260px !important;
    }


    div#imgPromo2 {
        height: 260px !important;
    }

    div#imgPromo3 {
        height: 260px !important;
    }


    .promociones .promocionDestacada {
        display: block;
        position: relative;
        float: left;
        border: 1px solid;
        width: 251px !important;
        float: none !important;
        margin: 0 23px;
        height: 232px !important;
        margin: 0 auto 10px !important;
    }

    .promocion {
        width: 679px;
    }

    .promociones {
        height: auto !important;
        width: 326px !important;
    }
}