.carousel-wrapper.ng-scope {
    height: 254px;
    width: 100%;
    background: beige;
}

.lineaPromo {
    position: relative;
    width: 39px;
    background: #00000096;
    height: 2px;
    margin: 0 auto;
}

div#imgPaso1 {
    background: url(../img/home/computador.svg) top center no-repeat;
}

div#imgPaso2 {
    background: url(../img/home/sobre.svg) top center no-repeat;
}

div#imgPaso3 {

    background: url(../img/home/moneda.svg) top center no-repeat;
}

div#imgPaso4 {

    background: url(../img/home/cara.svg) top center no-repeat;
}



.nombrePromo2 {
    position: relative;
    width: 50%;
    padding: 10px;
    float: left;
    border-left: 1px solid #fff;
    height: 100%;
}

.nombrePromo2 h1 {
    font-size: 21px;
    position: relative;
    width: 149px;
    display: block;
    margin: 0 auto;
    color: #fff;
    top: -3px;
}


.bannerPuntos {

    position: relative;

    width: 100%;

    height: 528px;

    background: url(../img/home/banner_home.jpg) top center no-repeat;

    background-size: cover;
}

.move {
    border-left: 2px solid #8080809e;
}



.enunciadoPuntos {

    position: relative;

    width: 103px;

    margin: 0 auto;

    top: 116px;
}

.promocion {

    position: relative;

    margin: 20px auto 0;

    width: 100%;

    height: auto;
}

.enunciadoPromociones {

    width: 100%;

    position: relative;

    height: 54px;

    border-radius: 26px;

    padding: 9px;

    margin: 0 auto;
}

.enunciadoPromociones h1 {

    text-align: center;

    display: block;

    font-size: 26px;

    color: #00000096;
}


.promociones {

    position: relative;

    width: 100%;
    /* border: 1px solid; */
    height: 315px;

    padding: 24px 27px;

    margin-top: 10px;

    margin: 0 auto !important;
}

.promociones .promocionDestacada {
    display: block;
    position: relative;
    float: left;
    border: 1px solid;
    width: 31%;
    margin: 0 10px;
    height: 319px;
}


h1.enunciadoDestacada {

    font-size: 28px;

    position: relative;

    margin: 0 auto;

    text-align: center;

    top: 93px;

    font-size: 24px;
}


.contenedorOferta {

    position: relative;

    margin: 20px auto 0;

    width: 100%;

    height: 314px;
}


.enunciadoOfertas {

    width: 100%;

    position: relative;

    height: 54px;

    background: #64c5fd59;

    border-radius: 26px;

    padding: 9px;

    margin: 0 auto;
}



.enunciadoOfertas h1 {

    text-align: center;

    display: block;

    font-size: 26px;
}


.ofertas {

    position: relative;

    width: 100% !important;
    /* border: 1px solid; */
    height: 315px;

    padding: 24px 27px;

    margin-top: 10px;

    margin: 0 auto !important;
}

.ofertas .ofertaDestacada {
    display: block;
    position: relative;
    float: left;
    border: 1px solid;
    width: 31% !important;
    margin: 0 10px;
    height: 312px;
}


.promos {
    height: 517px;
}

div#imgPromo1 {
    height: 378px;
    background: url(../img/home/promo1.png)top center no-repeat;
    background-size: cover;
}

div#imgPromo2 {
    height: 378px;
    background: url(../img/home/promo2.png)top center no-repeat;
    background-size: cover;
}

div#imgPromo3 {
    height: 378px;
    background: url(../img/home/promo3.png)top center no-repeat;
    background-size: cover;
}


h1.enunciadoDestacada {

    font-size: 28px;

    position: relative;

    margin: 0 auto;

    text-align: center;

    top: 93px;

    font-size: 24px;
}

.multi {
    display: block;
    position: relative;
    width: 90%;
    height: auto;
    margin: 60px auto 0;
}

.btnCanjear {
    position: relative;
    width: 269px;
    margin: 14px auto 0;
}

.btnCanjear button {
    width: 100%;
    border: none;
    padding: 0;
    border-radius: 6px;
    margin: 66px 0;
    background: #ff154f;
    color: #fff;
    height: auto;
    font-weight: 600;
    padding: 8px 0;
}


.contenedorPasos {

    position: relative;

    width: 100%;

    margin: 0 auto;

    margin-top: 54px;
}

.paso {
    position: relative;
    margin: 0 0;
    width: 312px;
    float: left;
}

.textoPaso {
    text-align: justify;
    padding: 0 15px;
}




.imgPaso {
    width: 132px;
    position: relative;
    background: blue;
    height: 173px;
    margin-bottom: 33px;
    margin: 0 auto;
}

.numeroPaso {
    width: 100%;
    height: 51px;
    border: 1px solid;
}

.enunciadoPasos h1 {
    text-align: center;
    display: block;
    font-size: 26px;
    color: #00000096;
}


.owl-prev {
    width: 35px !important;
    background: url(../img/icons/back.svg) no-repeat;
    background-size: 100% 100%;
    height: 111px;
    position: absolute;
    top: 25px;
    left: -44px;
}


.owl-next {

width: 35px !important;

background: url(../img/icons/next.svg) no-repeat;

background-size: 100% 100%;

height: 111px;

position: absolute;

top: 10px;

right: -44px;
}

.nombrePromo {
    height: 100%;
    float: left;
    width: 50%;
}

div#imgPromo1 {
    height: 320px;
}

div#imgPromo2 {
    height: 320px;
}

div#imgPromo3 {
    height: 320px;
}


.enunciadoPasos {
    width: 97%;
    position: relative;
    height: auto;
    /* background: #64c5fd59; */
    border-radius: 26px;
    padding: 9px;
    margin: 0 auto 34px;
}

.tituloPromo {
    position: absolute;
    bottom: 0;
    height: 101px;
    width: 95%;
    background: #ff154f;
    padding: 14px 0;
}



.promos {
    position: relative;
    float: left;
    width: 30%;
    height: 457px;
    margin: 0 24px;
    padding: 12px;
}


.multi2 {
    position: relative;
    width: 1585px;   
    height: auto;
    padding: 17px;
    margin: 0 auto;
}

div#nombrePromo1 {
    background: url(../img/home/vandine.png) top center no-repeat;
}

div#nombrePromo2 {
    background: url(../img/home/kelme.png) top center no-repeat;
}

div#nombrePromo3 {
    background: url(../img/home/mangacorta.png) top center no-repeat;
}

div#promo {
    height: auto;
    padding: 15px 15px 74px 15px;
    background: gray;
    background: url(../img/home/fondoPromociones.png), #f9f9f9;
}

.contImg {
    padding: 0 7px;
}

.contPasos {
    position: relative;
    width: 1255px;
    margin: 71px auto 0 !important;
    height: auto;
    overflow: hidden;
}

.contenidoPag {

    width: 100%;
    height: auto;
    min-height: 700px;
}