
form.form-horizontal.ng-pristine.ng-valid {
    position:  relative;
    margin:  0 auto;
    width: 414px;
}


.header {

    position: relative;

    margin: 0 auto;

    height: 65px;

    width: 100%;

    border: 1px solid;
}

.header .logoHeader {

    position: relative;

    float: left;

    width: 238px;

    height: 100%;

    border: 1px solid;
}

.footer {
    width: 100%;
    height: 142px;
    border: 1px solid;
}

.menuHeader {

    position: relative;

    float: right;

    width: 1192px;

    border: 1px solid;

    height: 100%;

    padding: 19px 0 0 0;
}

.menuHeader ul {

    display: block;

    width: 91%;

    position: relative;

    height: 40px;

    padding: 0;

    margin: 0 auto;
}

.headerE {
    position:  relative;
    padding: 16px 28px;
    display:  block;
}

.headerE p {

text-align:  justify;

margin-top: 33px;
}


.menuHeader ul li {
    list-style: none;
    display: block;
    margin: 0 10px;
    font-size: 14px;
    float: left;
    text-align: center;
}

.popupEcommerce {
    position: fixed;
    z-index: 2;
    background: #00000085;
    width: 100%;
    height: 100%;
}

.internoE {
    position:  relative;
    width: 1226px;
    height: 671px;
    background:  #fff;
    z-index:  2;
    top: 105px;
    margin:  0 auto;
}

.bannerPopup {
    position:  relative;
    width: 464px;
    border:  1px solid;
    height:  373px;
    float: left;
    border-radius: 7px;
}

.contenidoPopup {
    position:  relative;
    margin:  0 auto;
    width: 1166px;
    height:  auto;
    overflow:  hidden;
}

.formularioPop {
    position:  relative;
    float: right;
    width: 615px;
    height: auto;
    padding: 0 34px;
}

.cerrarPopup {
    position:  relative;
    width: 25px;
    padding: 0 9px;
    float:  right;
    margin-right: 15px;
    margin-top: 7px;
}

.formularioPop label {
    position: relative;
    width: 68px;
}

.formularioPop input {
    width: 472px;
    border-radius:  5px;
    border: 1px solid #ced4da;
}

.formularioPop textarea {

    height: 120px;

}

.formularioPop button {
    float:  right;
    width: 129px;
}