    .bannerTiendas {
        position: relative;
        width: 100%;
        height: 251px;
        background: url(../img/tiendasAsociadas/banner_tiendasAsociadas.jpg) top center no-repeat;
        background-size: cover;
        margin-bottom: 89px;
    }

    .contenedorTiendas {
        min-height: 1000px;
        height: auto;
    }

    .imgTienda {
        border-right: 2px solid gray;
        margin-bottom: 27px;
    }


    .imgTienda {

        position: relative;
        margin: 0 auto;
        width: 100%;
        padding-right: 32px;
        height: 188px;
    }


    .seccionTiendas {
        border-left: 2px solid gray;
        margin-bottom: 130px;
        height: 188px;
    }

    .imgTienda {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding-right: 32px;
    }

    .imgTienda img {
        position: relative;
        margin: 0 auto;
        display: block;
    }