



@media (max-width: 1370px) {
.bannerTiendas {
    position: relative;
    width: 100%;
    height: 437px !important;
    !important: url(
    ../img/tiendasAsociadas/banner_tiendasAsociadas.jpg) top center no-repeat;
    background-size: cover;
    margin-bottom: 89px;
}
}

