@media(min-width: 1700px){

   .bannerTiendas {
        position: relative;
        width: 100%;
        height: 352px;
        background: url(
        ../img/tiendasAsociadas/banner_tiendasAsociadas.jpg) top center no-repeat;
        background-size: cover;
        margin-bottom: 89px;
    }


}

@media (max-width: 1370px) {
    .bannerTiendas {
        position: relative;
        width: 100%;
        height: 251px;
        background: url(
        ../img/tiendasAsociadas/banner_tiendasAsociadas.jpg) top center no-repeat;
        background-size: cover;
        margin-bottom: 89px;
    }
}